<!DOCTYPE html>
<html lang="en">
<head>
    <title>注册</title>

    <!-- meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="福利姬,主播,萝莉,PR社,自拍" name="keywords">

    <!-- css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script>
        function validateForm(){
            var email_value = document.forms["register"]["email"].value;
            var password1_value = document.forms["register"]["password1"].value;
            var password2_value = document.forms["register"]["password2"].value;

            if(email_value == null || email_value == ""){
                alert("Email can't be empty 邮箱必须填写");
                return false;
            }

            if(password1_value == null || password1_value == ""){
                alert("Password can't be empty 密码必须填写");
                return false;
            }

            if(password2_value == null || password2_value == ""){
                alert("Re-enter Password can't be empty 确认密码必须填写");
                return false;
            }

            var at_pos = email_value.indexOf("@");
            var dot_pos = email_value.lastIndexOf(".");
            if(at_pos < 1 || dot_pos < at_pos + 2 || dot_pos + 2 >= email_value.length){
                alert("Email not valid  邮箱格式不正确");
                return false;
            }

            if(password1_value != password2_value){
                alert("Password and re-enter password are inconsistent  两次输入密码不一致");
                return false;
            }
        }
    </script>
</head>
<body>
    <div class="container">
        <div style="margin-top:5%;" class="panel panel-primary">
            <div class="panel-heading"><H4>SIGN UP 注册</H4></div>
            <div class="panel-body">
                <form name="register" onsubmit="return validateForm()" method="POST" action="{% url 'accounts:register' %}">
                    {% csrf_token %}
                    <div style="margin-top:20px;" class="hidden">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input id="username" type="text" class="form-control" name="username" value="username">
                    </div>
                    <div style="margin-top:20px;" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                        <input id="email" type="text" class="form-control" name="email" placeholder="Email 邮箱">
                    </div>
                    <div style="margin-top:20px;" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input id="password1" type="password" class="form-control" name="password1" placeholder="Enter Password 设置密码">
                    </div>
                    <div style="margin-top:20px;" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input id="password2" type="password" class="form-control" name="password2" placeholder="Re-enter Password 确认密码">
                    </div>
                    <button style="margin-top:40px;" type="submit" class="btn btn-primary"><h4>Register Account 注册</h4></button>
                </form>
            </div>
            {% if form.errors %}
                <div style="margin:20px;" class="alert alert-danger">
                    {{form.errors}}
                </div>
            {% endif %}
            <div class="text-center">
                <p><h4 class="text-primary">Already have an account? 已有账号？<a href="{% url 'accounts:login' %}" class="ml-2">Login 登录</a></h4></p>
            </div>
        </div>
    </div>
</body>
</html>