{% extends 'base.html' %}

{% block main %}
{% load i18n %}
<!--<script src="https://cdn.fluidplayer.com/v3/current/fluidplayer.min.js"></script>-->
<script>
$(function(){
    pushHistory();
    window.addEventListener('popstate', function(e){
        var storage = window.sessionStorage;
        location.href=storage.current_detail_url;
    }, false);

    function pushHistory(){
        var url = "#";
        var state = {
            title: "title",
            url: "#"
        };
        window.history.pushState(state, "title", "#");
    }

    function setFavoriteButton(){
        alert({{ is_favorite }});
    }
});

$(document).ready(function(){
    var flag = true;
    $("#favorite_button").click(function(){
        if(flag == false)
            return;

        flag = false;
        var media_id_str = $("#media_id_str").val();
        $.ajax({
            url: $("#favorite_button").data('url_root'),
            data: {'media_id_str':media_id_str},
            type: 'POST',
            success: function(response){
                if (response.result == 'needLogin'){
                    window.location.replace({% url 'accounts:login' %});
                }else{
                    if(response.result == 'add'){
                        $("#favorite_button").removeClass("btn-danger");
                        $("#favorite_button").addClass("btn-success");
                        $("#favorite_button").html('已收藏');
                    }else if(response.result == 'delete'){
                        $("#favorite_button").removeClass("btn-success");
                        $("#favorite_button").addClass("btn-danger");
                        $("#favorite_button").html('收藏');
                    }else if(response.result == 'refuse'){
                        alert(response.message);
                    }
                    flag = true;
                }
            }
        })
    });
});
</script>
<div style="background: #52616a;" class="detail-name-tag">
    <a style="color:white;" href="{{ poster.get_absolute_url }}">{{ poster.user_name }}</a>
</div>
<div class="enjoy-image-div">
    <div class="row">
        <input id="media_id_str" value="{{enjoy_content.media_id_str}}">
        <div id="side_ad_left" class="col-xs-2"></div>
        <div class="col-xs-8">
            {% if enjoy_content.media_type == 'video' %}
            <video id="my-video" controls loop>
                <source src="{{ enjoy_content.get_video_display_path }}" type="video/mp4">
                {% trans "您的浏览器不支持在线播放" %}
            </video>
            <div style="color: white;"></div>
            {% else %}
            <img src="{{enjoy_content.get_media_display_path}}">
            <div  style="color: white;">{{ enjoy_content.post_text }}</div>
            {% endif %}
            <a href="{{ enjoy_content.get_pre_media_absolute_url }}" style='font-size: 28px;background-color: #c9d6de;border: none;padding:0px 128px;margin: 16px;'><</a>
            <button type="button" id="favorite_button" class="btn {{ favorite_class }}" style="margin: 16px;" data-url_root="{% url 'accounts:add_favorite' %}">{{ favorite_text }}</button>
            <a href="{{ enjoy_content.get_next_media_absolute_url }}" style='font-size: 28px;background-color: #c9d6de;border: none;padding:0px 128px;margin: 16px;'>></a>
        </div>
        <div id="side_ad_right" class="col-xs-2"></div>
    </div>
</div>
<!--<script>-->
<!--    var player = fluidPlayer('my-video',-->
<!--            {-->
<!--                layoutControls:{-->
<!--                    loop:true,-->
<!--                    fillToContainer:true-->
<!--                },-->
<!--                vastOptions : {-->
<!--                    "adList" : [{-->
<!--                        "vAlign" : "middle",-->
<!--                        "roll" : "preRoll",-->
<!--                        "vastTag" : "https://syndication.realsrv.com/splash.php?idzone=4054500"-->
<!--                    }]-->
<!--                }-->
<!--            }-->
<!--        );-->
<!--</script>-->
{% endblock main %}