{% extends 'base.html' %}

{% block main %}
<div class="enjoy-image-div">
    {% if enjoy_content.media_type == 'video' %}
    <video controls>
        <source src="{{ enjoy_content.get_video_display_path }}">
    </video>
    <div style="color: white;">{{ enjoy_content.post_text }}</div>
    {% else %}
    <img src="{{enjoy_content.get_media_display_path}}">
    <div style="color: white;">{{ enjoy_content.post_text }}</div>
    {% endif %}
</div>
{% endblock main %}
{% block toc %}
<div class="widget widget-content">
    <h3 class="widget-title">文章目录</h3>
    <ul>
        <li>
            <a href="#">教程特点</a>
        </li>
        <li>
            <a href="#">谁适合这个教程</a>
        </li>
        <li>
            <a href="#">在线预览</a>
        </li>
        <li>
            <a href="#">资源列表</a>
        </li>
        <li>
            <a href="#">获取帮助</a>
        </li>
    </ul>
</div>
{% endblock toc %}