{% extends 'base.html' %}

{% block main %}
<script>
$(function(){
    var url = window.location.href;
    var storage = window.sessionStorage;
    storage['current_detail_url'] = url;

    pushHistory();
    window.addEventListener('popstate', function(e){
        var storage = window.sessionStorage;
        location.href=storage.current_index_url;
    }, false);

    function pushHistory(){
        var url = "#";
        var state = {
            title: "title",
            url: "#"
        };
        window.history.pushState(state, "title", "#");
    }
});

function delete_media(obj){
    $.ajax({
        url: obj.name,
        type: 'GET',
        success: function(response){
            window.location.reload();
        }
    })
}
</script>
<div class="detail-name-tag">
    个人收藏
</div>
<div style="margin-top: 20px;" class="flex-container">
{% for media in media_list %}
    {% if media.media_type == 'video' %}
    <div class="panel panel-default">
        <div class="panel-body">
            <a href="{{media.get_absolute_url}}">
                <div class="detail-movie-image-cover" backgroud="">
                    <img class="det ail-movie-image"  src={{ media.get_media_display_path }}>
                    <img class="detail-movie-image-flag" src="/static/image/play.png">
                </div>
            </a>
        </div>
        <div class="panel-footer">
            <button name="{% url 'accounts:delete_favorite' media.media_id_str %}" type="button" class="btn btn-danger" onclick="delete_media(this)">删除</button>
        </div>
    </div>
    {% else %}
    <div class="panel panel-default">
        <div class="panel-body">
            <a href="{{media.get_absolute_url}}">
                <img class="index-image" src={{ media.get_media_display_path }}>
            </a>
        </div>
        <div class="panel-footer">
            <button name="{% url 'accounts:delete_favorite' media.media_id_str %}" type="button" class="btn btn-danger" onclick="delete_media(this)">删除</button>
        </div>
    </div>
    {% endif %}
{% empty %}
<div class="container">
    <h3>这里空空如也...</h3>
</div>
{% endfor %}
</div>
<div class="paginator">
    <span>
        {% if media_list.has_previous %}
            <a href="?page={{ media_list.previous_page_number }}">上一页</a>
        {% endif %}
    </span>

    <span class="current">
        {{ media_list.number }} / {{ media_list.paginator.num_pages }}
    </span>

    <span>
        {% if media_list.has_next %}
            <a href="?page={{ media_list.next_page_number }}">下一页</a>
        {% endif %}
    </span>
</div>
{% endblock main %}