{% extends 'base.html' %}

{% block main %}
<script>
$(function(){
    var url = window.location.href;
    var storage = window.sessionStorage;
    storage['current_index_url'] = url;
});
</script>
<div class="flex-container">
{% for poster_cover_dic in posters_covers_list %}
    <div class="index-image-block-container">
        <a href="{{ poster_cover_dic.poster.get_absolute_url }}">
            <img class="index-image" src={{ poster_cover_dic.cover.get_media_display_path }} alt="{{ poster_cover_dic.poster.user_screen_name }}">
            <div class="index-image-font-div">{{ poster_cover_dic.poster.user_name }}</div>
            <div class="index-image-date-div">最新: {{ poster_cover_dic.cover.created_at }}</div>
        </a>
    </div>
{% endfor %}
</div>
<div class="paginator">
    <span>
        {% if posters_covers_list.paginator %}
            {% if posters_covers_list.has_previous %}
                <a href="?page={{ posters_covers_list.previous_page_number }}">上一页</a>
            {% endif %}

<!--            <span class="current">-->
<!--                {{ posters_covers_list.number }} / {{ posters_covers_list.paginator.num_pages }}-->
<!--            </span>-->
            <ul class="pagination">
            {% for i in posters_covers_list.paginator.page_range %}
                {% if posters_covers_list.number == i %}
                    <li ><a class="active" href="?page={{ i }}">{{ i }}</a></li>
                {% else %}
                    <li ><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            </ul>

            {% if posters_covers_list.has_next %}
                <a href="?page={{ posters_covers_list.next_page_number }}">下一页</a>
            {% endif %}
        {% endif %}
    </span>
</div>
{% endblock main %}