<!DOCTYPE html>
{% load i18n %}
{% load static %}
{% load blog_extras %}
<html>
<head>
    <title id="page_title">推妹子</title>

    <!-- meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="福利姬,主播,萝莉,PR社,自拍" name="keywords">
    <meta name="exoclick-site-verification" content="e48394ce86b72e2d9e156fc921c7ad28">

    <!-- css -->
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'blog/css/pace.css' %}" >
    <link rel="stylesheet" href="{% static 'blog/css/custom.css' %}" >

    <!-- js -->
    <script src="https://cdn.bootcss.com/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static 'blog/js/pace.min.js' %}"></script>
    <script src="{% static 'blog/js/modernizr.custom.js' %}"></script>

    <style>
        .hello-msg {
            font-size: 18px;
            margin-right: 20px;
        }
    </style>
    <script>
        $(document).ready(function(){
            if(isMobile()){
                // mobile
                ad_content_exo = "<iframe src='//a.realsrv.com/iframe.php?idzone=4054076&size=300x100' width='300' height='100' scrolling='no' marginwidth='0' marginheight='0' frameborder='0'></iframe>";
                $("#ad_banner").html(ad_content_exo);
            }else{
                // not mobile
                ad_content = "<iframe src='//a.realsrv.com/iframe.php?idzone=3920750&size=900x250' width='900' height='250' scrolling='no' marginwidth='0' marginheight='0' frameborder='0'></iframe>";

                $("#ad_banner").html(ad_content);

                ad_content_left = "<iframe src='//a.realsrv.com/iframe.php?idzone=4062229&size=160x600' width='160' height='600' scrolling='no' marginwidth='0' marginheight='0' frameborder='0'></iframe>";
                ad_content_right = "<iframe src='//a.realsrv.com/iframe.php?idzone=4062238&size=160x600' width='160' height='600' scrolling='no' marginwidth='0' marginheight='0' frameborder='0'></iframe>";

                ad_content_square_left = "<iframe src='//a.realsrv.com/iframe.php?idzone=4054074&size=300x250' width='300' height='250' scrolling='no' marginwidth='0' marginheight='0' frameborder='0'></iframe>";
                ad_content_square_right = "<iframe src='//a.realsrv.com/iframe.php?idzone=4062262&size=300x250' width='300' height='250' scrolling='no' marginwidth='0' marginheight='0' frameborder='0'></iframe>";


                $("#side_ad_left").html(ad_content_left + ad_content_square_left);
                $("#side_ad_right").html(ad_content_right + ad_content_square_right);
            }
        });

        function isMobile(){
            var userAgentInfo = navigator.userAgent;
            var mobileAgents = [ "Android", "iPhone", "SymbianOS", "Windows Phone", "iPad","iPod"];
            var mobile_flag = false;

            for (var v = 0; v < mobileAgents.length; v++) {
                if (userAgentInfo.indexOf(mobileAgents[v]) > 0) {
                    mobile_flag = true;
                    break;
                }
            }
            // judge by screen size
            var screen_width = window.screen.width;
            var screen_height = window.screen.height;
            if(screen_width < 500 && screen_height < 800){
                mobile_flag = true;
            }

            return mobile_flag;
        }
    </script>
</head>
<body>
<div id="ad_banner" class="container text-center"></div>
<script type="application/javascript" data-idzone="4054016" data-ad_first_trigger_clicks="3" data-ad_next_trigger_clicks="15" data-browser_settings="1" data-ad_trigger_method="3" src="https://a.realsrv.com/fp-interstitial.js"></script>
<script type="application/javascript" data-idzone="4054080" data-ad_first_trigger_clicks="3" data-ad_next_trigger_clicks="20" data-browser_settings="1" data-ad_trigger_method="3" src="https://a.realsrv.com/fp-interstitial.js"></script>
<script type="application/javascript" src="https://a.realsrv.com/video-slider.js"></script>
<script type="application/javascript">
var adConfig = {
    "idzone": 4054492,
    "frequency_period": 1440,
    "close_after": 0,
    "sound_enabled": 0,
    "on_complete": "repeat",
    "branding_enabled": 1,
    "screen_density": 25
};
ExoVideoSlider.init(adConfig);
</script>
<div class="container">
    <div class="text-right">
        {% if user.is_authenticated %}
        <h5>
            <span class="hello-msg"><kbd>{{ request.user }}</kbd></span>
            <span class="hello-msg"><a href="{% url 'accounts:logout' %}">{% trans "退出" %}</a></span>
        </h5>
        {% else %}
        <h5>
            <span class="hello-msg"><a href="{% url 'accounts:login' %}"><code>{% trans "登录" %}</code></a></span>
            <span class="hello-msg"><a href="{% url 'accounts:register' %}"><code>{% trans "注册" %}</code></a></span>
        </h5>
        {% endif %}
    </div>
    <header id="site-header">
        <div class="row">
            <div class="col-md-4 col-sm-5 col-xs-8">
                <div class="logo">
                    <h1><a href="{% url 'blog:index' %}"><b>推</b>妹子</a><sub><font size="2">{% trans "你的女神在这里" %}</font></sub></h1>
                </div>
            </div><!-- col-md-4 -->
            <div class="col-md-8 col-sm-7 col-xs-4">
                <nav class="main-nav" role="navigation">
                    <div class="navbar-header">
                        <button type="button" id="trigger-overlay" class="navbar-toggle">
                            <span class="ion-navicon"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="cl-effect-11"><a href="{% url 'blog:index' %}" data-hover="妹子">{% trans "妹子" %}</a></li>
                            <li class="cl-effect-11"><a href="{% url 'album:album' %}" data-hover="下载">{% trans "下载" %}</a></li>
                            <li class="cl-effect-11"><a href="{% url 'blog:favorite' %}" data-hover="收藏">{% trans "收藏" %}</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </nav>
                <div id="header-search-box">
                    <a id="search-menu" href="#"><span id="search-icon" class="ion-ios-search-strong"></span></a>
                    <div id="search-form" class="search-form">
                        <form role="search" method="get" id="searchform" action="{% url 'blog:search' %}">
                            <input type="search" name="q" placeholder="search" required>
                            <button type="submit"><span class="ion-ios-search-strong"></span></button>
                        </form>
                    </div>
                </div>
            </div><!-- col-md-8 -->
        </div>
    </header>
</div>

<div>
    {% block main %}
    {% endblock main %}
</div>
<div class="container text-center">
    <script type="application/javascript" data-idzone="4054084" src="https://a.realsrv.com/nativeads-v2.js" ></script>
</div>
<footer id="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="copyright">推妹子 - 每日更新福利姬最新动态!</p>
                <p style="text-align: center;color: #666;">免责申明: 本站内容均由程序自动抓取网络数据生成,仅供个人学习研究</p>
                <p style="text-align: center;color: #666;margin-top:-10px;">请确保您所在地区的合法性故随之而来的风险与本站无关,如有侵权请联系删除</p>
            </div>
        </div>
    </div>
</footer>

<!-- Mobile Menu -->
<div class="overlay overlay-hugeinc">
    <button type="button" class="overlay-close"><span class="ion-ios-close-empty"></span></button>
    <nav>
        <ul>
            <li><a href="{% url 'blog:index' %}">{% trans "妹子" %}</a></li>
            <li><a href="{% url 'album:album' %}">{% trans "下载" %}</a></li>
            <li><a href="{% url 'blog:favorite' %}">{% trans "收藏" %}</a></li>
        </ul>
    </nav>
</div>

<script src="{% static 'blog/js/script.js' %}"></script>

</body>
</html>